@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,800;1,400;1,800&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #3f3f3f;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
html,body{
    width: 100vw;
    max-width: 100%;
    scroll-behavior: smooth;
}

img{
    display: block;
}


a,a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    opacity: 0.6;
    cursor:pointer;
}

.bold{
    font-weight: bold;
}

.center{
    text-align: center;
}

.dark{
    background-color: #222222;
}

.maxwidth{
    max-width: 800px;
    margin: 0 auto;

}


/* -------------HEADER---------------- */

.header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-end;
    align-items: flex-end;
    height: 50px;
    box-shadow: 2px 0 5px #3f3f3f;
}

.mainlogo a{
    color: white;
    text-decoration: none;
    font-size: 1.75rem;
}

.bar{
    display: none;
}





/*-----------NavBar------------------ */

.nav{
    display: block;
    position: relative;;
}

.nav__item{
    list-style: none;
}
.nav__burger-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin: 0 10px;


}

/*-------------Burger-Button----------------- */

.nav__burger,
.nav__burger::before,
.nav__burger::after{
    opacity: 1;
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;

}
.nav__burger::before,
.nav__burger::after{
    content: "";
    position: absolute;

}
.nav__burger::before{
    transform: translateY(-8px);
    background: #0ce3ff;

}
.nav__burger::after{
    transform: translateY(8px);
    background: #ff0808;

}

.nav__burger-btn.open .nav__burger{
    background: transparent;
}

.nav__burger-btn.open .nav__burger::before{
    background: #0ce3ff;
    transform: rotate(45deg);
}

.nav__burger-btn.open .nav__burger::after{
    background: #ff0808;
    transform: rotate(-45deg);
}


/* -------------------Nav List---------------------- */
.nav__list{
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    width: 100vw;
    list-style-type: none;
    background:#222222 ;
    animation: showMenu 0.5s ease-in-out forwards;
    transform-origin: top center ;
}


@keyframes showMenu {
    0%{
        transform: scaleY(0);
    }

    80%{
        transform: scaleY(1.1);
    }

    100%{
        transform: scaleY(1);
    }
    
}

.nav__item{
    display: block;
    font-size: 1.75rem;
}

.nav__list.open{
    display: block;

}




/* ----------------Travel MENU----------------- */


h2{
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin: 10px 0 20px ;
    border: 2px solid #0ce3ff;
    border-radius:5px;
}

.menu{
    max-width: 800px;
    margin: 0 auto;
    /* background: oldlace; */
    border: 1px solid rgb(41, 41, 41);
    box-shadow: 2px 2px 10px #2e2d2d;
}

.menu__section{
    scroll-margin-top:60px ;
    margin: 10px auto 0;
}

.menu__items_container{
    display: flex;
    flex-direction: column;

}

.menu__item{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    margin-top: 20px;
    font-weight: 600;
}

.menu__item:nth-child(1){
    margin-top: 0;
}

.menu__price{
    font-weight: 700;
    color: rgb(33, 202, 33);
}

.menu__description{
    margin: 5px;
    font-family: serif;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.5rem;
}

.menu__travel_image{
width: 100%;
max-width: 400px;
}

.menu_caption{
    font-size: 1rem;
    padding: 5px;
    max-width: 400px;
    margin-bottom: 20px;
}

/* --------------Rentals------------------- */

.rentalstore{
    border : 2px solid #ff0808
}

/* ------------------Pricing------------------------- */

.pricing{
    border : 2px solid white;
}